:root {
    --grid-dimentions: 10; /* Number of cells in each row/column */
    --grid-size: 70vh; 
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--grid-size) / var(--grid-dimentions)), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(calc(var(--grid-size) / var(--grid-dimentions)), 1fr));
    width: var(--grid-size);
    height: var(--grid-size);
    border: 15px solid black;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: black;
    border: 1px solid red;
    box-sizing: border-box;
}

.alive {
    background-color: white;
}


/* toolbox */
#toolbox {
    width: var(--grid-size);
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 15px solid black;
}

#toolbox button {
    min-width: 5vh;
    height: 5vh;
    background-color: lightslategray;
    border-radius: 5px;
    cursor: pointer;
}

#toolbox #playBtn {
    color: white;
    background-color: seagreen;
}

#toolbox #stopBtn {
    color: white;
    background-color: brown;
}








/* Hover effect */
.editable:hover .cell:not(:hover) {
    filter: brightness(30%);
    transition-duration: 250ms;
}

.editable:not(:hover) .cell {
    transition-duration: 250ms;
}

.editable .cell:hover {
    border-color: yellow;
}